<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ABRUPLE</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" title="ABRUPLE">
                    <h1 class="navbar-brand">
                        <img src="~/Content/images/contest-logo.png" alt="ABPRULE-logo" width="64" height="64" />
                    </h1>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav list-group-item">
                    <li>
                        <a href="/" id="home-btn" class="btn btn-info" title="Home">
                            <span class="glyphicon glyphicon-home"></span>
                        </a>
                    </li>
                    <li>
                        @Html.ActionLink("Contests", "Index", "Contest", null, new { title = "Contests", @class = "btn btn-default" })
                    </li>
                    <li>
                        @if (@User.Identity.IsAuthenticated)
                        {
                            // TODO: THINK ABOUT FORGERY TOKEN ? Y/N
                            using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "navbar-form", role = "search" }))
                            {
                                <div class="input-group">
                                    <input id="main-input-search" type="search" placeholder="Search..." class="container form-control" aria-label="search">
                                    <div class="input-group-btn">
                                        <button type="button" title="Search" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="glyphicon glyphicon-search"></span>
                                            <span class="caret"></span>
                                        </button>

                                        <ul class="dropdown dropdown-menu">
                                            <li><a href="#" title="Search for user">User</a></li>
                                            <li><a href="#" title="Search for contest">Contest</a></li>
                                        </ul>
                                    </div>
                                </div>
                            }
                        }
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right navbar-collapse collapse">
                    @Html.Partial("_NewContestPartialView")
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </div>
    </div>
    @Html.Partial("_HomeSliderPartial")
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ABRUPLE</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            $('#create-contest-form-content').draggable();

            var contestStrategy = $(".contest-strategy");

            contestStrategy.change(function () {
                var strategyName = (this).id;
                var strategyValue = $(this).val();


                switch(strategyName) {
                    case "contest-reward-strategy":
                        if (strategyValue == 0) {
                            console.log(0);
                            $("#contest-top").remove();
                        } else {
                            $("<input type='number' min='2' id='contest-top' class='form-control'>").appendTo($("#contest-participation-field"));
                        }
                }
            });
        });
    </script>
</body>
</html>
