@*@model Abruple.App.Models.ViewModels.User.UserPersonalDataViewModel*@
@model Abruple.App.Models.ModelWrapper
<div class="well">
    <div class="row">
        <div class="col-md-4">
            <img class="media-object" src=@Url.Content(Model.UserPersonalDataViewModel.ProfilePic) alt="@Model.UserPersonalDataViewModel.Username profile photo" width="300">
        </div>
        <div class="col-md-4">
            <p><strong>Name: </strong> @Model.UserPersonalDataViewModel.FullName</p>
            <p><strong>Email: </strong> @Model.UserPersonalDataViewModel.Email</p>
            <p><strong>Gander: </strong> @Model.UserPersonalDataViewModel.Gender</p>
            <p><strong>Registration: </strong>@string.Format("{0:D}", Model.UserPersonalDataViewModel.Registration)</p>
            <p><strong>Contests Created:</strong> @Model.UserPersonalDataViewModel.ContestsCreatedCount</p>
            <p><strong>Contests Participated:</strong> @Model.UserPersonalDataViewModel.ContestsParticipatedCount</p>
            <p><strong>Photos Upploded:</strong> @Model.UserPersonalDataViewModel.PhotosUpplodedCount</p>
            <p><strong>Winnings:</strong> @Model.UserPersonalDataViewModel.WinningPhotosCount</p>
            <p><strong>AboutMe: </strong> @Model.UserPersonalDataViewModel.AboutMe</p>
        </div>
        <div class="col-md-4">
          <p>@Html.Partial("_EditProfilePartial")</p>
        </div>
    </div>
</div>