@model Abruple.App.Models.ModelWrapper

<h2 class="page-header">Contest</h2>

<div class="jumbotron">
    <div class="container">
        <div class="panel-heading">
            <span class="pull-right small glyphicon glyphicon-calendar">
                <time class="text">@string.Format("{0:D}",Model.ContestDetailsViewModel.Date.Date)</time>
                @Html.ActionLink(@Model.ContestDetailsViewModel.Author, "Search", "User", new { name = @Model.ContestDetailsViewModel.Author }, new { @class = "glyphicon glyphicon-user" }) <!--ON HOVER SHOW USER INFO-->
            </span>
            <h3 class="text text-success">
                @Model.ContestDetailsViewModel.Title
            </h3>
        </div>
        <div class="panel-body">
            <h4>Contest description:</h4>
            <p class="text text-primary">
               @Model.ContestDetailsViewModel.Description
            </p>
        </div>
        <div class="panel-footer">
            
            @Html.Partial("ManageContestPartialView")

            @*<span class="btn btn-success btn-file">
                <input type="file">
            </span>*@

            <div class="pull-right">
                @if (Model.ContestDetailsViewModel.TimeSpan != null)
                {
                    <span class="glyphicon glyphicon-time text text-info"></span>
                    <span class="text text-info">Timeleft --;--</span>
                }
                else
                {
                    <span class="text text-info">Max players 0/100</span>
                }
                <!--TODO: IF CONTEST IS PRIVATE SHOW LOCK ICON ELSE HIDE-->
                @*LOCK ICON*@
                <span class="glyphicon glyphicon-lock text-danger"></span>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <!--TODO: CONTEST ENTRY PARTIAL-->
    <!--TODO: DISPLAY FOR CONTEST ENTRIES COLLECTION-->
</div>