@model Abruple.App.Models.ModelWrapper

<h2 class="page-header">Contest</h2>

<div class="jumbotron">
    <div class="container">
        <div class="panel-heading">
            <span class="pull-right small glyphicon glyphicon-calendar">
                <time class="text">@string.Format("{0:D}",Model.ContestDetailsViewModel.Date.Date)</time>
                @Html.ActionLink(@Model.ContestDetailsViewModel.Author, "Search", "User", new { name = @Model.ContestDetailsViewModel.Author }, new { @class = "glyphicon glyphicon-user" }) <!--ON HOVER SHOW USER INFO-->
            </span>
            <h3 class="text text-success">
                @Model.ContestDetailsViewModel.Title
            </h3>
        </div>
        <div class="panel-body">
            <h4>Contest description:</h4>
            <p class="text text-primary">
               @Model.ContestDetailsViewModel.Description
            </p>
        </div>
        <div class="panel-footer clearfix">

            <div class="pull-left">
                @Html.Partial("ManageContestPartialView")
            </div>

            <div class="pull-right">
                @if (Model.ContestDetailsViewModel.EndDate != null)
                {
                    <span class="glyphicon glyphicon-time text text-info"></span>
                    <span class="text text-info">Timeleft --;--</span>
                }
                else
                {
                    <span class="text text-info">Max players 0/100</span>
                }
                <!--TODO: IF CONTEST IS PRIVATE SHOW LOCK ICON ELSE HIDE-->
                @*LOCK ICON*@
                <span class="glyphicon glyphicon-lock text-danger"></span>
            </div>
        </div>
    </div>
</div>


<div class="container">

    @if (Model.ContestWinners.Count != 0)
    {
        @Html.Partial("_contestEntryWinnersPartial");
    }

</div>

<div class="container">
    <h2> Active Contest Entries </h2>
    <hr />
    @if (Model.ContestEntryShortViewModel.Count == 0)
    {
        <p>NO  CONTEST  ENTRIES  UPLOADED  YET </p>
    }
    else
    {
        @Html.Partial("_contestEntryPartial");
    }
</div>


@Scripts.Render("~/bundles/jqueryval")
