@using Abruple.App.Models.ViewModels.Contest

@model IEnumerable<ContestConciseViewModel>

@{
    ViewBag.Title = "Contests";
}

<h2 class="page-header">Contests</h2>

<ul id="contests-filter" class="nav nav-tabs">
    <li role="presentation" id="contest-filter-tab-active" class="contest-fileter-tab active">
        @Ajax.ActionLink("Active", "GetContests", new { filter = "active" }, new AjaxOptions()
        {
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "contests-table-body",
            LoadingElementId = "ajax-loader"
        }, new { @class = "btn-link" })
    </li>
    <li role="presentation" id="contest-filter-tab-past" class="contest-fileter-tab">
        @Ajax.ActionLink("Past", "GetContests", new { filter = "past" }, new AjaxOptions()
        {
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "contests-table-body",
            LoadingElementId = "ajax-loader"
        }, new { @class = "btn-link" })
    </li>
    <li role="presentation" id="contest-filter-tab-own" class="contest-fileter-tab">
        @Ajax.ActionLink("Own", "GetContests", new { filter = "own" }, new AjaxOptions()
        {
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "contests-table-body",
            LoadingElementId = "ajax-loader"
        }, new { @class = "btn-link" })
    </li>
    <li role="presentation" id="contest-filter-tab-all" class="contest-fileter-tab">
        @Ajax.ActionLink("All", "GetContests", new { filter = "all" }, new AjaxOptions()
        {
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "contests-table-body",
            LoadingElementId = "ajax-loader"
        }, new { @class = "btn-link" })
    </li>
</ul>

@using (Ajax.BeginForm("GetContests", "Contest", 
    new AjaxOptions()
    {
        HttpMethod = "GET",
        UpdateTargetId = "contests-table-body",
        InsertionMode = InsertionMode.InsertAfter,
        LoadingElementId = "ajax-loader"
    }, new { id = "get-contests-form" }))
{
    @Html.Hidden("filter", "active", new { @id="contest-filter-value" })
    
    // TODO: ELEMENT TO SKIP
}

<div class="container table">
    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <td class="col col-xs-push-9">Title</td>
                <td class="col col-sg-2">Author</td>
                <td class="col col-sg-2">Date</td>
                <td class="col col-lg-2">Entries</td>
                <td class="col col-lg-1">Details</td>
            </tr>
        </thead>
        <tbody id="contests-table-body">
            @Html.Partial("_contestsListPartial", Model) 
        </tbody>
    </table>
    <div id="ajax-loader" class="text-center">
        <img src="~/Content/images/ajax-loader.gif" alt="Loading" width="64" height="64" />
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            // FORM
            var formToSubmit = $("#get-contests-form");

            // FILTER TABS
            var filterTab = $(".contest-fileter-tab");
            
            // FLITER TAB CHANGE TO ACTIVE ON CLICK AND SET FILTER VALUE
            filterTab.click(function () {
                var filterValue = $(this).text().toLocaleLowerCase();
                $("#contest-filter-value").val(filterValue);

                console.log($("#contest-filter-value").val());

                filterTab.removeClass("active");
                $(this).toggleClass("active");
            });

            // FORMT SUBMIT ON PAGE LOAD
            if (formToSubmit) {
                formToSubmit.submit();
            }

            // FORM SUBMIT ON SCROLL
            $(window).scroll(function () {
                if ($(window).scrollTop() === $(document).height() - $(window).height()) {
                    if (formToSubmit) {
                        formToSubmit.submit();
                    }
                }
            });
        });
    </script>
}